.button {
  display: inline-block;
  border-radius: 3px;
  font-size: 16px;
  text-decoration: none;
  padding: 15px 30px;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);
  font-weight: bold;
}
.button-green {
  background: #8aba56;
  color: #fff;
}
.button-blue {
  background: #59a3fc;
  color: #fff;
}
.button-blue:hover {
  background: #35928C;
 transition: all ease 0.3s;
}
.button-gray {
  background: #aaa;
  color: #fff;
}
.button-gray:hover {
  background: #35928C;
  transition: all ease 0.3s;
  
}