.prices .title-small {
  color: gray;
}
.fare, .fare-head, .fare-footer {
  border-radius: 3px;
}
.fare-head, .fare-footer {
  background: #e3e3e3;
  color: gray;
  padding: 20px 0;
}
.fare {
  background: #f2f2f2;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  width: 70%;
  margin: auto;
}
.fare-head {
  border-bottom: 1px solid #ccc;
}
.fare .fare-price {
  font-weight: normal;
}
.fare-features-item {
  list-style: none;
  padding-left: 0;
  margin: 20px 0;
}
.fare_featured {
  background: #63F8F0;
  border-color: #307edc;
}
.fare_featured * {
  color: #215F53;
}
.fare_featured .text-medium,
.fare_featured .text-lead {
  color: #215F53;
}
.fare_featured .fare-footer,
.fare_featured .fare-head {
  background: #27B9B1;

}