.header {
  position: fixed;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 5px;
  background: #D4D3D3 ;
  top: 0;
  opacity: 0.95;
}
.header-logo {
  float: left;
  display: inline-block;
  max-width: 640px;
  height: 36px;
  padding: 0 20px;
}
.header-nav {
  float: right;
  vertical-align: baseline;
  line-height: 30px;
}
.header-nav-item {
  list-style: none;
  padding: 0 20px;
  margin: 0;
  display: inline-block;
}
.header-nav-link {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 25px;
}
.header-nav-link:hover {
  
  color: #D4D3D3;
  transition: all ease 0.3s;
  }
@media (max-width: 983px) {
  .header {
    position: inherit;
    width: auto;
    background: #fff;
    top: auto;
    opacity: 1;
  }
  .header-nav,
  .header-logo {
    float: none;
  }
}
@media (max-width: 360px) {
  .header-nav-item {
    display: block;
  }
}