.team{
  padding: 0px;
  background: #eee;
}
.team-members{
  padding-top: 10px;
}
.member-image{
  display: inline-block;
  float: left;
  width: auto;
}
.member-photo{
  border: 5px solid #48D5BA;
  border-radius: 100%;
  height: 200px;
}
.member-details{
  display: inline-block;
  max-width: 200px;
  margin-left: 20px;
}
.member-details .text-small{
  display: block;
}
.member-details .text-small:hover{
  cursor:pointer;
}
